@font-face {
  font-family: 'JetBrainsMono';
  src: url(./assets/fonts/JetBrainsMono-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url(./assets/fonts/JetBrainsMono-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  user-select: none;
  background-color: #212121;
}

header {
  font-family: 'JetBrainsMono';
  font-weight: bold;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  background: #353535;
  align-self: stretch;
  font-size: 20px;
  height: 35px;
  grid-column: 1/-1;
  -webkit-app-region: drag;
}

.option {
  color: #fff;
  padding: 5px 20px;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.option:hover {
  background: orange;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #212121;

  max-width: 400px;
  font-family: 'JetBrainsMono';
  font-size: normal;
}

.item {
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}

.input {
  min-height: 40px;
  background-color: 212121;
  font-size: 30px;
  max-width: 380px;
  height: auto;
  padding: 10px;
  grid-column: 1/-1;
  overflow: auto;
  justify-content: flex-end;
  cursor: auto;
}

.equal {
  grid-column: 3/5;
}

.upper {
  font-size: 25px;
  margin-left: 3px;
  margin-top: -20px;
}

.equal {
  background: rgb(255, 166, 0);
}